.Post_title{
    width: 168px;
    height: 63px;
    left: 876px;
    top: 152px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 51.918px;
    line-height: 63px;
    letter-spacing: 1.5px;
}


.post-1{
    width: 500px;
    height: 370px;
    background-color: red;
    margin: 10px;
}
.post-2{
    width: 500px;
    height: 370px;
    background-color: green;
    margin: 10px;
}
.post-3{
    width: 500px;
    height: 370px;
    background-color: purple;
    margin: 10px;
}
.post_list{
    height: 700px;
    
    display: flex;
    flex-direction: row;
}