.facts7{
    background-image: url('/src/img/blackandwhite\ bg.png');
    height: 866px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}
.facts7_main{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.facts7_title{
    width: 1200px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 85px;
    text-align: center;
}
.facts7_info{
    margin: 30px 0 10px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    width: 700px;
    display: flex;
    justify-content: space-around;
}
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.facts7_info svg {
    margin-right: 5px;
}
.calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.links svg{
    margin-right: 20px;
}
.article_text{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 800px;
    margin-top: 50px;
    
}
.article_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article_info img{
    margin-top: 50px;

}
.Article2{
    background-image: url('../../img/bg-2.png');
    height: 866px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}
.Article3{
    background-image: url('../../img/blackandwhite\ 2\ \(3\).png');
    height: 866px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
}
.name_title{
    margin-top: 100px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 134.4%;
/* or 48px */

letter-spacing: 0.02em;
}
.surname_title{
    font-weight: 700;
}
.article_li{
     margin-top: 10px;
     margin-left: 40px;
}
.video{
    margin-top: 50px;
}