.CarouselTitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 110px;
  color: #ffffff;
}
.CarouselButton {
  padding: 16px 64px;
  gap: 10px;
  background: #a30000;
  border-radius: 37px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
.CarouselMenu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.CarouselAbout {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.CarouselText {
  font-weight: 400;
  font-size: 20px;
}
.CarouselBody {
  text-align: start;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.line {
  border: 2px solid #ffffff;
  transform: rotate(-90deg);
  width: 113px;
}
.CarouselChange {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
}
