.footer {
  background: #212121;
  box-shadow: 0px -8px 36px rgba(0, 0, 0, 0.15);
  padding: 3%;
}
.footer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.footerText {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #d2d2d2;
}
.footerH {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.footerSpace{
    color:#A30000 ;
}
